body {
    background: #f5d9df;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    color: #ea1c2c;
    font-weight: 200;
    font-size: 3.5rem;
}

i {
    cursor: pointer;
    font-size: 2rem;
}

section p {
    color: #f49b8b;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

footer .nav-link {
    color: white;
}

footer .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 400;
}

span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 2.5rem;
}

.list-group-item {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 2rem;
}

#map {
    width: 100%;
    height: 600px;
}

footer {
    background-color: #dec0de;
}

.navbar.scroll {
    background-color: #dec0de;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.125rem;
    }
    .list-group-item {
        font-size: 2rem;
    } 
}